﻿@model List<Branch>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Complex Marker Icons</title>
    <style>
        /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map {
            height: 100%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body onload="initalizePage()">
    <div id="map"></div>
    <script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
            center: { lat: 41.049792, lng: 29.003031}
        });

        setMarkers(map);
      }

      var beaches = [
          @foreach (var branch in Model)
        {
            foreach (var order in branch.Orders)
            {
                 @Html.Raw($"['{order.Id}', {order.Point.Latitude.ToString().Replace(",",".")}, {order.Point.Longitude.ToString().Replace(",", ".")}, 1,'{branch.ColorCode}'],")
              }
          }
      ];

        function setMarkers(map) {

        var shape = {
          coords: [1, 1, 1, 20, 18, 20, 18, 1],
          type: 'poly'
        };

            new google.maps.Marker({
                position: { lat: 41.049792, lng: 29.003031 },
                map: map,
                icon: {url: '/Images/red-branch.png'},
                shape: shape,
                title: 'Kırmızı',
                zIndex: 999
            });
            new google.maps.Marker({
                position: { lat: 41.069940, lng: 29.019250 },
                map: map,
                icon: {url: '/Images/green-branch.png'},
                shape: shape,
                title: 'Yeşil',
                zIndex: 999
            });
            new google.maps.Marker({
                position: { lat: 41.049997, lng: 29.026108 },
                map: map,
                icon: {url: '/Images/blue-branch.png'},
                shape: shape,
                title: 'Mavi',
                zIndex: 999
            });


        for (var i = 0; i < beaches.length; i++) {
          var beach = beaches[i];
          var marker = new google.maps.Marker({
            position: {lat: beach[1], lng: beach[2]},
            map: map,
              icon: {url: '/Images/' + beach[4] + '-order.png'},
            shape: shape,
            title: beach[0],
            zIndex: beach[3]
          });
            }


            @foreach (var branch in Model)
            {
                @Html.Raw(@"new google.maps.Polyline({
                path: ["+ string.Join(",", branch.RoutePath.Select(x => "{ lat: " + x.Latitude.ToString().Replace(",", ".") + ", lng: " + x.Longitude.ToString().Replace(",", ".") + " }")) + @"],
                geodesic: true,
                strokeColor: '"+branch.ColorCode+@"',
                strokeOpacity: 1.0,
                strokeWeight: 2
            }).setMap(map);");
            }
        }


    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB8u9s_tlGIGQz3XC5nyCQqKJoNw8Gt5PA&callback=initMap">
    </script>
    <script>
        function initalizePage() {
            google.maps.event.addDomListener(window, 'load', alert('@Html.Raw(ViewBag.alert)'));
        }
    </script>
</body>
</html>
